.product-card {
  transition: transform .4s ease-in-out,;
  border:solid 2px transparent
}

.product-card:hover {
  transform: scale(1.03); /* This will be transitioned smoothly */
}

.inactiveStyle {
  transform: scale(0.8); /* This will transition smoothly */
}

.product-card-link {
  text-decoration: none;
}
